<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayday.xy.codingmusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainActivitys.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/xiami"
        android:label="MusicApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivitys.MainActivity" />

        <activity android:name=".MainActivitys.PlayActivity"/>

        <activity android:name=".MainActivitys.MyLikeMusicActivity"/>


        <service
            android:name=".MainActivitys.PlayServer"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>